# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/

# Ignore any local .terraform directories
**/.terraform/*

# Ignore .tfvars files that may contain sensitive information
*.tfvars

# Ignore .tfplan files
*.tfplan
